<a class="menu-links-item" href="#/fr/profil"><span class="icon-profil"></span>Profil</a>
<a class="menu-links-item" href="#/fr/experiences"><span class="icon-exp"></span>Expériences</a>
<a class="menu-links-item" href="#/fr/competences"><span class="icon-skills"></span>Compétences</a>
<a class="menu-links-item" href="#/fr/formations"><span class="icon-study"></span>Formations</a>
<a class="menu-links-item" href="#/fr/projets-notables"><span class="icon-notable"></span>Projets notables</a>
<a class="menu-links-item" href="#/fr/references"><span class="icon-reference"></span>Références</a>
<a class="menu-links-item" href="#/fr/hobbies"><span class="icon-hobbies"></span>Hobbies</a>