<div class="content-container">
  <h2><span class="icon-linkedin"></span>Contact</h2>

  <div class="content-box">
    <h4>Vous avez une question ? une proposition ? autre chose en -tion ?</h4>
    <p>
      Vous pouvez voir mon Curriculum Vitae et me contacter sur <a target="_blank" href="https://fr.linkedin.com/in/alexgalinier">Linkedin</a> ou télécharger une
      <a href="http://alexgalinier.com/static/documents/Alex_Galinier_Resume_Fr_Mail.pdf">version pdf</a>.<br/>N'hésitez pas, j'adore converser !
    </p>
  </div>
</div>
<div class="navigate-trought-sections">
  <a href="#/fr/hobbies" class="prev-section">
    <span class="icon-arrow-left"></span>
    <h2>Hobbies</h2>
  </a>
</div>