<div class="content-container">
  <h2><span class="icon-study"></span>Formations</h2>

  <div class="content-box">
    <h3>Master Ingénieurie Systèmes Informatiques</h3>
    <h4>Université Toulouse III / Septembre 2006 - Juin 2009</h4>
  </div>

  <div class="content-box">
    <h3>DUT Informatique</h3>
    <h4>Université Toulouse III / Septembre 2004 - Juin 2006</h4>
  </div>

  <div class="content-box">
    <h3>BAC Scientifique</h3>
    <h4>Saint Orens de Gameville / Juillet 2004</h4>
  </div>
</div>

<div class="navigate-trought-sections">
  <a href="#/fr/competences" class="prev-section">
    <span class="icon-arrow-left"></span>
    <h2>Compétences</h2>
  </a>
  <a href="#/fr/projets-notables" class="next-section">
    <h2>Projets notables</h2>
    <span class="icon-arrow-right"></span>
  </a>
</div>