<div class="content-container">
  <h2><span class="icon-exp"></span>Expériences</h2>

  <div class="content-box">
    <h3>Open Source Developer</h3>
    <h4><a>Auto-entrepreneur</a> Février 2018 - Today</h4>

    <p>
      Afin de travailler dans des domaines qui me sont chers, j'ai démarré la création de 2 projets ainsi
      que divers outils d'aide au développement, tous gratuits et en open source.
    </p>
    <p>
      Le premier projet est un outil d'accompagnement pour les enseignants et élèves basée sur la
      <a href="https://fr.wikipedia.org/wiki/P%C3%A9dagogie_Freinet">pédagogie Freinet</a>. Dans un premier temps, il sera
      possible de suivre l'avancement de l'enfant et pour l'enseignant d'organiser sa classe et prévoir les sessions d'apprentissage.
      Par la suite, cela devrait devenir un outil de partage et d'éducation.
    </p>
    <p>
      Le second est une webapp d'aide à la budgetisation axé sur les personnes ou familles en difficultées financières. Le principe est
      de visualiser les revenues et dépenses mensuelles d'une manière plus parlante afin de mieux comprendre les impacts d'un achat,
      crédit, abonnement, ... sur le budget pour enfin sortir d'une situation compliquée.
    </p>
  </div>

  <div class="content-box">
    <h3>Software Engineer</h3>
    <h4><a href="https://sicpa.com/fr">Sicpa</a> Juillet 2015 - November 2017</h4>

    <p>
      <a href="https://sicpa.com/fr">Sicpa</a> est une société privée internationnale proposant des solutions et services de reconnaissance sécurisé, de traçabilité et d'identification.
    </p>
    <p>
      Employé comme developpeur frontend (mais rapidement j'ai dû m'occuper du backend JAVA) j'ai travaillé dans différents environnements métier,
      en général afin de migrer une application monolitique vers une webapp modulaire et extensible.
    </p>
    <p>
      Grâce à ces connaissances, j'ai défini, avec un groupe, les outils pour developper, construire et tester les webapps chez SICPA.
      Du fait d'une connaissance limité des frameworks, hors AngularJS, dans la communauté web, nous l'avons conservé tout en préparant
      la migration vers Angular 2 en utilisant Typescript et une structure en composant.
      Une fois les outils développés, des exemples de code partagées et un cli plus tard, j'ai été chargé de présenter et
      d'animer des workshops autour de cette nouvelle stack. L'adoption fut rapide et très positive.
    </p>
    <p>
      Depuis 1 an et demi, j'ai rejoint l'équipe ne charge des outils de déploiement, de l'architecture de développement et
      des librairies de test (UI/UX styleguide, skeletons, support pour gRPC, Keycloak, Kafka, Selenium) sur la
      plateforme OpenShift. Nous avons créé une pipeline Jenkins pour faciliter le déploiement et les releases en continue.
      Je travaillais en tant que Scrum Master et développeur, une fois de plus au service d'autres développeurs.
    </p>
  </div>

  <div class="content-box">
    <h3>Consultant Expert Web</h3>
    <h4><a href="http://www.intent-technologies.eu/en">Intent Technologies</a> / Octobre 2014 - Janvier 2015</h4>

    <p>
      <a href="http://www.intent-technologies.eu/en">Intent Technologies</a> travaille dans le domaine du bâtiment connecté, permettant d'exploiter des données provenant de capteurs
      ou alimentées par des tiers, dans le but de mieux connaitre et intéragir avec son habitat et d’en améliorer la performance (notamment énergétique).
    </p>
    <p>
      On a fait appel à moi pour mon expérience Web et UX/UI (User eXperience et User Interface)  afin de soutenir une
      jeune équipe de développeur dans la conception d’un OS Intent capable d’exécuter des applications javascript
      propriétaires ou développées par des tiers.  Nous avons réalisés deux socles (SDK), le premier traitant la
      communication avec le système de gestions des données Intent ainsi qu’inter-application, le second définissant un guide graphique.
    </p>
    <p>
      Le but était de mettre à la disposition des utilisateurs, un store d’applications qu’ils installeraient en fonction de leurs besoins.
      Nous nous sommes donc largement inspirés des mécanismes <a href="https://www.android.com/">Android</a>. Certaines applications existaient déjà pour les actuels client d’Intent,
      le défi était donc de taille, proposer un nouvel arrangement, une nouvelle manière d’utiliser le système tout en gardant la
      confiance des actuels utilisateurs. Nous avons donc éprouvé nos deux socles en portant des applications existantes et en en
      créant des nouvelles. Le résultat a été au rendez-vous, une satisfaction de toutes les parties prenantes lors de la sortie de la nouvelle version.
    </p>
  </div>

  <div class="content-box">
    <h3>Responsable Projet NetEvent</h3>
    <h4><a href="http://www.onelight-studio.com/">OneLight</a> / Septembre 2014 - Octobre 2014</h4>

    <p>
      Pour l’animation et l’analyse des données de salons professionnels, la société <a href="http://www.ikcom.fr/">Ikcom</a> souhaitait développer une application mobile
      iOS, Android et Windows Phone de scan. L’application devait être réutilisable d’un salon à l’autre, à la fois pour le personnel
      d’accueil qui scanne en boucle les entrants mais aussi pour les participants qui pouvaient scanner les personnes rencontrées et
      recevoir un résumé une fois le salon terminé.
    </p>
    <p>
      Les délais de cette mission étant très courts, il a fallu opter pour une solution cross-platforme,
      <a href="https://phonegap.com/">PhoneGap</a>. J’ai réalisé l’application adaptée aux tendances d’utilisation spécifiques à chaque plateforme et l‘ai soumise sur les 3 stores, en 1 mois.
    </p>
  </div>

  <div class="content-box">
    <h3>Responsable Avant Vente</h3>
    <h4><a href="http://www.onelight-studio.com/">OneLight</a> / Février 2014 - Octobre 2014</h4>

    <p>
      Afin d’établir une relation de qualité avec les prospects de la société, j’ai participé à des rendez-vous clients avec les commerciaux,
      pour apporter une vision plus technique de la réalisation. Suite à cette première rencontre,
      je m’occupais du suivi et des relances de ces futurs clients.
    </p>
    <p>
      Une fois leurs besoins suffisamment affinés, nous établisions avec l’équipe, une proposition commerciale chiffrée et bornée.
    </p>
  </div>

  <div class="content-box">
    <h3>Responsable Projet FidelPass</h3>
    <h4><a href="https://www.prometil.com/">Prometil</a> / Juillet 2009 - Septembre 2014</h4>

    <p>
      <a href="https://www.fidelpass.com">Fidelpass</a> est un projet web et mobile qui aborde tous les aspects de la fidélisation client.
      La solution complète met à disposition des consommateurs, une seule application et un seul site web
      pour connaitre leurs offres en cours et les promotions de tous les commerces inscrit sur FidelPass.
      Côté commerçant, FidelPass fourni tous les outils pour la création de programmes fidélité, campagnes de mails,
      sms et statistiques pour améliorer le suivi, et donc le retour client.
      Cette base de travail a également été déclinée en marque blanche pour certains clients importants.
    </p>
    <p>
      Je suis intervenu en tant que responsable architecture et suivi du projet, organisant les besoins et
      l’équipe suivant une méthode dérivée des <a href="https://fr.wikipedia.org/wiki/M%C3%A9thode_agile">méthodes agiles</a>. En plus d'une activité de relation
      client au long court, le projet m'a permis d'aborder presque tous les aspects commun du Web d'aujourd'hui,
      5 frontends (HTML5, CSS3 et Javascript), 1 backend (PHP), des Web Services, une application mobile Android pour
      les consommateurs et une application tablette Android dans les points de vente commerçant pour voir et utiliser des
      cadeaux, ainsi que les problématiques de déploiement et de coupure minimum de tous ces services.
    </p>
  </div>

  <div class="content-box">
    <h3>Responsable Technique Développement Produit</h3>
    <h4><a href="http://www.onelight-studio.com/">OneLight</a> / Février 2014 - Mai 2014</h4>

    <p>
      Ce projet est issue d’une étroite collaboration avec plusieurs clients et des collaborateurs internes que j’ai coordonné.
      Le but était de proposer un système d'animation de la clientèle des bars, restaurents et hotels en profitant d’une large
      utilisation des smartphones par la clientelle. Le projet se découpe entre une interface web de suivi, une application mobile
      et une application tablette. Je ne peux ici détailler plus car le produit n'est pas encore sorti.
    </p>
    <p>
      En plus d’organiser la rédaction des besoins en vue d’un <a href="https://fr.wikipedia.org/wiki/Produit_minimum_viable">PVM</a> (Produit Minimum Viable) afin d’avoir au plus tôt un
      retour des responsables des établissements et des utilisateurs mobiles, j’ai réalisé le socle des web services et
      l’interface web de suivi clients. J’ai également participé à la conception des interfaces tablette et mobile.
    </p>
  </div>

  <div class="content-box">
    <h3>Auto entrepreneur</h3>
    <h4>Alexgalinier / Janvier 2014 - Février 2015</h4>

    <p>
      En parallèle de mon activé salariée, j’ai réalisé des missions en <a href="https://fr.wikipedia.org/wiki/Auto-entrepreneur">auto entrepreneur</a>. Le but était de me challenger sur
      l’organisation administrative de la structure, la recherche de clients et la négociation commerciale. Je n’ai
      choisi que de courtes missions que j’étais capable d’effectuer rapidement sur mon temps libre tout en conservant une bonne qualité de prestation.
    </p>
  </div>

  <div class="content-box">
    <h3>Développeur Mobile</h3>
    <h4>OneLight / Juillet 2013 - Octobre 2013</h4>

    <p>
      OneBike est une application mobile iOS et Android qui affiche une carte google map présentant les stations vélos en libre service les plus proches ainsi
      que le nombre de vélos/places disponibles. Il est également possible de prévoir des trajets à plusieurs et donc de visualiser les
      stations où l’on peut prendre et déposer tous les vélos à la fois.
    </p>
    <p>
      Nous avons travaillé en équipe pour la conception du produit, j’ai ensuite réalisé la première version de l’application android ainsi
      que le système de connexion aux divers fournisseurs de positions et états des stations de vélos.
    </p>
    <p>
      Le produit a été présenté au concours du Défi Numérique organisé par la ville de Toulouse et nous avons reçu le prix "DigitalPlace".
    </p>
  </div>

  <div class="content-box">
    <h3>Consultant Web, PhoneGap et UX</h3>
    <h4>Prometil / Janvier 2013 - Juin 2013</h4>

    <p>
      J'ai accompagné la société MHCOMM dans le choix d'une solution technique pour leur future application mobile.
      Ils souhaitaient développer une application professionnelle de suivi des malades par le personnel médical et à la prise de médicament.
      Visant la communauté iOS et Android, tout en évitant le double développement, c’est la solution PhoneGap qui fut adopté.
    </p>
    <p>
      J'ai réalisé la cinématique et les écrans de l'application pour finalement les mettre en oeuvre avec un périmètre réduit
      dans le but de présenter un POC (Prouf Of Concept) à de potentiels clients.
    </p>
    <p>
      Le développement d'une application mobile avec PhoneGap revient à développer un site web mobile (la solution devant s'adapter en
      fonction d'un affichage tablette ou téléphone), J'ai donc structuré mon projet avec Backbone, RequireJS et un design responsive.
    </p>
  </div>
</div>

<div class="navigate-trought-sections">
  <a href="#/fr/profil" class="prev-section">
    <span class="icon-arrow-left"></span>
    <h2>Profil</h2>
  </a>
  <a href="#/fr/competences" class="next-section">
    <h2>Compétences</h2>
    <span class="icon-arrow-right"></span>
  </a>
</div>