<div class="content-container">
  <h2><span class="icon-profil"></span>Profil</h2>

  <div class="content-box">
    <p>
      Les possibilités de connexions et d’interfaces qu’offre le web sont innombrables.
      Téléphone, tablette, tv, montre, capteur, … les supports se multiplient depuis ces dernières années,
      et de nombreux projets imaginent de nouvelles manières d’échanger. Ce sont ces idées qui m’intéressent dans le web.
    </p>
    <p>
      Mon domaine d’expertise est le développement, design et code, mais je m’intéresse à tous
      les aspects d’un projet. J’ai été développeur, chef de projet, responsable d’équipe, responsable avant vente,
      auto entrepreneur, designer dans différents contextes et projets, j’attends la prochaine aventure avec impatience.
    </p>
  </div>
</div>

<div class="navigate-trought-sections">
  <a href="#/fr/experiences" class="next-section">
    <h2>Expériences</h2>
    <span class="icon-arrow-right"></span>
  </a>
</div>