<div class="content-container">
  <h2><span class="icon-reference"></span>Références</h2>

  <div class="content-box">
    <h3>Alexis LESAGE</h3>
    <h4><a target="blank" href="http://www.intent-technologies.eu/en">Intent Technologies</a> / CTO</h4>
    <h4><a id="contact-fr-alexis">a.lesage{at}intent-technologies.eu</a></h4>
  </div>

  <div class="content-box">
    <h3>Sébastien BALARD</h3>
    <h4><a target="blank" href="http://www.onelight-studio.com/">OneLight Studio</a> / Développeur Android/iOS & Coach agile</h4>
    <h4><a id="contact-fr-seb">s.balard{at}onelight-studio.com</a></h4>
  </div>

  <div class="content-box">
    <h3>Marianne MUGUET</h3>
    <h4><a target="blank" href="http://comlily.fr/">Comlily</a> / Graphiste</h4>
    <h4><a id="contact-fr-marianne">comlilly{at}gmail.com</a></h4>
  </div>
</div>

<div class="navigate-trought-sections">
  <a href="#/fr/formations" class="prev-section">
    <span class="icon-arrow-left"></span>
    <h2>Formations</h2>
  </a>
  <a href="#/fr/hobbies" class="next-section">
    <h2>Hobbies</h2>
    <span class="icon-arrow-right"></span>
  </a>
</div>