<a class="menu-links-item" href="#/en/profile"><span class="icon-profil"></span>Profile</a>
<a class="menu-links-item" href="#/en/experiences"><span class="icon-exp"></span>Experiences</a>
<a class="menu-links-item" href="#/en/skills"><span class="icon-skills"></span>Skills</a>
<a class="menu-links-item" href="#/en/studies"><span class="icon-study"></span>Studies</a>
<a class="menu-links-item" href="#/en/notables"><span class="icon-notable"></span>Notables</a>
<a class="menu-links-item" href="#/en/references"><span class="icon-reference"></span>References</a>
<a class="menu-links-item" href="#/en/hobbies"><span class="icon-hobbies"></span>Hobbies</a>