<div class="content-container">
  <h2><span class="icon-linkedin"></span>Contact</h2>

  <div class="content-box">
    <h4>Do you have a question ? a proposition ? Anything with -tion ?</h4>
    <p>
      You can see my resume and contact me on <a target="_blank" href="https://fr.linkedin.com/in/alexgalinier">LinkedIn</a> or download a
      <a href="https://alexgalinier.com/static/documents/Alex-Galinier-Resume-EN.pdf">pdf version</a>.<br/>Don't hesitate, i really love to talk !
    </p>
  </div>
</div>
<div class="navigate-trought-sections">
  <a href="#/en/hobbies" class="prev-section">
    <span class="icon-arrow-left"></span>
    <h2>Hobbies</h2>
  </a>
</div>