<div class="content-container">
  <h2><span class="icon-exp"></span>Experiences</h2>

  <div class="content-box">
    <h3>Web expert</h3>
    <h4><a target="_blank" href="http://www.intent-technologies.eu/en">Intent Technologies</a> / October 2014 - January 2015</h4>

    <p>
      <a target="_blank" href="http://www.intent-technologies.eu/en">Intent Technologies</a> is a tech company working throught connected buildings. They aggregate data from sensors or third parties, to give
      a better knowlege, interaction and improve the performance of the building (particulary on the energy sector).
    </p>
    <p>
      They asked me to put my Web and UI/UX experience (User Interface, User eXperience) to work with a young developers team at
      the conception of an Intent OS that run own made or third party javascript applications. We delivered two base (SDK), the first one managing
      the communication with the data holder and inter-application, the second one defining an interface style guide.
    </p>
    <p>
      The purpose was to give users applications they could install depending on their needs. We drew heavily on <a target="_blank" href="https://www.android.com/">Android</a> mechanism.
      Some applications already existed for actual Intent's customers, the challenge was hard, giving a fresh new design, a new way to use the system
      while keeping current customers trust. We have tested our two bases by converting existing applications and creating new ones. The result has
      been achieved, all the stakeholders involved were satisfied when the new version has been released.
    </p>
  </div>

  <div class="content-box">
    <h3>NetEvent Project Manager</h3>
    <h4><a target="_blank" href="http://www.onelight-studio.com/">OneLight</a> / September 2014 - October 2014</h4>

    <p>
      To animate and analyse professionnal shows, <a target="_blank" href="http://www.ikcom.fr/">Ikcom</a> company wished to develop a mobile scan application for iOS, Android and Windows Phone.
      The application has to be reusable from a show to an other for both the reception staff who scan arrivants and participants who scan others
      during the show and receive a summuary once the show has been finished.
    </p>
    <p>
      Deadlines of this mission were very short, i should use a cross-platform solution, <a target="_blank" href="http://phonegap.com/">PhoneGap</a>. I've done the application adapted to user specific
      habits for each platform and published it in the 3 store in a month.
    </p>
  </div>

  <div class="content-box">
    <h3>Pre-Sales Manager</h3>
    <h4><a target="_blank" href="http://www.onelight-studio.com/">OneLight</a> / February 2014 - October 2014</h4>

    <p>
      To establish a valuable relation with prospects, i've participated to customer's rendezvous with company's buisness managers, bringing a
      technical vision of the realization. After the first meeting, i was involved of customers care and reminder.
    </p>
    <p>
       Once their needs were satifactory refined, we were proposing a commercial figured offer with limits.
    </p>
  </div>

  <div class="content-box">
    <h3>FidelPass project manager</h3>
    <h4><a target="_blank" href="http://www.prometil.com/">Prometil</a> / July 2009 - September 2014</h4>

    <p>
      <a target="_blank" href="http://www.fidelpass.com">Fidelpass</a> is a web and mobile project that tackles every aspect of customer loyalty. The complete solution gives consumers
      only one application and only one website to trace their current offers and promotions from every trade subscribed on FidelPass.
      On the trade side, FidelPass provides many tools to create loyalty programs, email or sms campaigns and statistics to improve tracking, then
      consumer comeback.
      This workshop base can be branded for important customers.
    </p>
    <p>
      I was in charge of the architecture and project reviews, organizing customer and team needs following a method adjusted from an
      <a target="_blank" href="http://en.wikipedia.org/wiki/Agile_software_development">Agile</a> approach.
      In addition to being in a long customer relation, the project allowed me to tackle almost every aspect of today's Web, 5 frontends (HTML5,
      CSS3, Javascript), 1 backend (PHP), Web Services, an Android mobile application for consumers and an Android tablet application for salepoints
      to list and use consumers' gifts, as well as deployment problematics and minimal breakdown of all these services.
    </p>
  </div>

  <div class="content-box">
    <h3>Technical Manager Product Development</h3>
    <h4><a target="_blank" href="http://www.onelight-studio.com/">OneLight</a> / February 2014 - May 2014</h4>

    <p>
      This project comes from a close collaboration between customers and colleagues which i coordinated.
      The purpose is to build a customer animation system for pubs, restaurants and hostels. The project is
      splitted into a tracking web interface, a mobile application and a tablet application.
      The project is splitted into a web interface to track clients, a mobile application and a tablet application.
    </p>
    <p>
      Besides organizing needs redaction to build a <a target="_blank" href="http://en.wikipedia.org/wiki/Minimum_viable_product">MVP</a> (Minimum Valuable Product) to bring establishment manager and clients feedbacks as soon
      as possible, i realized the web services base and the clients tracking web interface. I've also participated to mockups conception for mobile and
      tablet applications.
    </p>
  </div>

  <div class="content-box">
    <h3>Self employed</h3>
    <h4>Alexgalinier / January 2014 - February 2015</h4>

    <p>
      Simultaneously to my employment, i realized some contracts as <a target="_blank" href="http://fr.wikipedia.org/wiki/Auto-entrepreneur">self employed</a>. The purpose was to challenge myself on the organization administrative
      activity, customer research and commercial negotiation. I've always chosen short missions that i can set quickly on my free time while
      keeping a high quality of service.
    </p>
  </div>

  <div class="content-box">
    <h3>Mobile developer</h3>
    <h4><a target="_blank" href="http://www.onelight-studio.com/">OneLight</a> / July 2013 - October 2013</h4>

    <p>
      <a target="_blank" href="http://www.onebikeapp.com">OneBike</a> is an iOs and Android application which display a google map showing the closest bike share stations location and the number of bike/place available.
      It is also possible to prepare a ride with friends and visualize the stations where you can get and return bikes.
    </p>
    <p>
      We worked as a team for the product conception, then i realized the first Android version of the application as well as the connection system
      which give stations states from many provider.
    </p>
    <p>
      This product has been introduced to the Défi Numérique contest, organized by Toulouse's city, and we've won the <a target="_blank" href="https://data.toulouse-metropole.fr/defi-numerique-2-les-laureats">"DigitalPlace" price</a>.
    </p>
  </div>

  <div class="content-box">
    <h3>Web, PhoneGap and UX Consultant</h3>
    <h4><a target="_blank" href="http://www.prometil.com/">Prometil</a> / January 2013 - June 2013</h4>

    <p>
      I've supported <a target="_blank" href="http://mhcomm.fr/">MHCOMM</a> company in their choice for a technical solution to build mobile application.
      They wanted a professionnal application which allow following patients by caregiver and tracking drugs intake.
      Targeting iOS and Android, at the same time avoiding a double development, this is <a target="_blank" href="http://phonegap.com/">PhoneGap</a> solution which has been adopted.
    </p>
    <p>
      I've realized the application wireframes and mockups then developped them with a reduced scope for the purpose of a
      <a target="_blank" href="http://en.wikipedia.org/wiki/Proof_of_concept">POC</a> (Prouf Of Concept) showed to potential customers.
    </p>
    <p>
      A <a target="_blank" href="http://phonegap.com/">PhoneGap</a> application development is close to a website development (the solution has to adapt itself depending on the screen size).
      I've handled this with <a target="_blank" href="http://backbonejs.org/">Backbone</a>,
      <a target="_blank" href="http://requirejs.org/">RequireJS</a> and a <a target="_blank" href="http://en.wikipedia.org/wiki/Responsive_web_design">responsive web design</a>.
    </p>
  </div>
</div>

<div class="navigate-trought-sections">
  <a href="#/en/profile" class="prev-section">
    <span class="icon-arrow-left"></span>
    <h2>Profile</h2>
  </a>
  <a href="#/en/skills" class="next-section">
    <h2>Skills</h2>
    <span class="icon-arrow-right"></span>
  </a>
</div>