<div class="content-container">
  <h2><span class="icon-hobbies"></span>Hobbies</h2>

  <div class="content-box">
    <p>
      Besides my professional projects, i create and test many tools or methods which can give me more knowledge
      in my job or improve my technical skills and organization.
      I practice these ideas and concepts on <a href="https://github.com/alexgalinier">Github</a>, <a href="http://jsfiddle.net/AlexGalinier/ngzkapoq/">JSFiddle</a> or share them on
      <a href="https://twitter.com/alexgalinier">Twitter</a>.
    </p>
    <p>
      I'm a diver, grade <a target="_blank" href="http://www.cmas.org/sitemap/two-star-diver-training-programme">CMAS 2 stars</a>, in the hope of seeing the greatest sites in the world.
    </p>
    <p>
      I also practice roleplaying games for the past 15 years, besides the fun during party with friends, roleplaying
      boost imagination and creativity a lot, two essential parts of my daily job.
    </p>
  </div>
</div>

<div class="navigate-trought-sections">
  <a href="#/en/references" class="prev-section">
    <span class="icon-arrow-left"></span>
    <h2>References</h2>
  </a>
  <a href="#/en/contact" class="next-section">
    <h2>Contact</h2>
    <span class="icon-arrow-right"></span>
  </a>
</div>