<div class="content-container">
  <h2><span class="icon-notable"></span>EN Notables</h2>

  <div class="content-box">
    <h3>FidelPass</h3>
    <h4>Manager and architect</h4>
    <p class="is-center">
      <a target="blank" href="http://www.fidelpass.com">http://www.fidelpass.com</a> and <a target="blank" href="http://www.fidelpass.com/pro">http://www.fidelpass.com/pro</a>
    </p>
  </div>

  <div class="content-box">
    <h3>OneBike</h3>
    <h4>Developer / <a target="blank" href="https://data.toulouse-metropole.fr/defi-numerique-2-les-laureats">DigitalPlace price</a></h4>
    <p class="is-center with-links">
      <a target="blank" href="http://www.onebikeapp.com">http://www.onebikeapp.com</a><br/>
      <a target="blank" href="http://goo.gl/hmPmJA">Playstore : http://goo.gl/hmPmJA</a><br/>
      <a target="blank" href="http://goo.gl/ul3evv">Appstore : http://goo.gl/ul3evv</a>
    </p>
  </div>

  <div class="content-box">
    <h3>XmasRush</h3>
    <h4>Developer and designer</a></h4>
    <p class="is-center with-links">
      <a target="blank" href="http://www.xmasrushgame.com">http://www.xmasrushgame.com</a><br/>
      <a target="blank" href="http://goo.gl/tDbemZ">Playstore : http://goo.gl/tDbemZ</a><br/>
      <a target="blank" href="http://goo.gl/GmPmIR">Appstore : http://goo.gl/GmPmIR</a>
    </p>
  </div>

  <div class="content-box">
    <h3>Fourcaud Consultante</h3>
    <h4>Developer and integrator</a></h4>
    <p class="is-center with-links">
      <a target="blank" href="http://www.fourcaud-consultante.fr">http://www.fourcaud-consultante.fr</a>
    </p>
  </div>

  <div class="content-box">
    <h3>Netevent</h3>
    <h4>Manager, developer and integrator</a></h4>
    <p class="is-center with-links">
      <a target="blank" href="http://goo.gl/G1oSWM">Playstore : http://goo.gl/G1oSWM</a><br/>
      <a target="blank" href="http://goo.gl/xOSoqb">Appstore : http://goo.gl/xOSoqb</a><br/>
      <a target="blank" href="http://goo.gl/vl8k75">Windowsphone store:  http://goo.gl/vl8k75</a>
    </p>
  </div>

  <div class="content-box">
    <h3>Logos</h3>
    <h4>Designer</a></h4>
    <p class="is-center with-links">
      <a href="#/en/logos">OneLight, Alexgalinier, ...</a><br/>
    </p>
  </div>

  <div class="content-box">
    <h3>This site !</h3>
    <h4>Developer and designer</a></h4>
  </div>
</div>

<div class="navigate-trought-sections">
  <a href="#/en/studies" class="prev-section">
    <span class="icon-arrow-left"></span>
    <h2>Studies</h2>
  </a>
  <a href="#/en/references" class="next-section">
    <h2>References</h2>
    <span class="icon-arrow-right"></span>
  </a>
</div>