<div class="content-container">
  <h2><span class="icon-profil"></span>Profile</h2>

  <div class="content-box">
    <p>
      There is many kind of connections or interfaces on the web today: mobile, tablet, TV, watch, sensor, etc ...
      Materials are multiplying in the last few years, and
      lots of projects imagine new ways to exchange. These ideas enthusiast me in the Web.
    </p>
    <p>
      My expertise area is the development, deisgn and code, but I am also interesting in every face of a project.
      I have been developer, project manager, team leader, pre-sales officer, self employed, designer in many
      circumstances or projects.
    </p>
    <p>
      I am looking forward the next episode...
    </p>
  </div>
</div>

<div class="navigate-trought-sections">
  <a href="#/en/experiences" class="next-section">
    <h2>Experiences</h2>
    <span class="icon-arrow-right"></span>
  </a>
</div>