<div class="content-container">
  <h2><span class="icon-skills"></span>Skills</h2>

  <div class="content-box">
    <h3>Professionnel</h3>

    <div class="skills-box">
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">HTML5 / CSS3</label>
        <div class="skill-my-lvl is-9">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">AngularJS</label>
        <div class="skill-my-lvl is-9">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">jQuery</label>
        <div class="skill-my-lvl is-8">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">UX/UI</label>
        <div class="skill-my-lvl is-7">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">Balsamiq</label>
        <div class="skill-my-lvl is-6">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">Inkscape</label>
        <div class="skill-my-lvl is-5">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">Gulp</label>
        <div class="skill-my-lvl is-8">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">NodeJs</label>
        <div class="skill-my-lvl is-6">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">Perfmatters</label>
        <div class="skill-my-lvl is-9">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">PhoneGap</label>
        <div class="skill-my-lvl is-7">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">Android</label>
        <div class="skill-my-lvl is-6">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">MySQL</label>
        <div class="skill-my-lvl is-6">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">MongoDB</label>
        <div class="skill-my-lvl is-5">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">Laravel</label>
        <div class="skill-my-lvl is-6">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">PHP</label>
        <div class="skill-my-lvl is-8">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="content-box">
    <h3>Gestion de projet</h3>

    <div class="skills-box">
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">Scrum</label>
        <div class="skill-my-lvl is-8">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">Lean Startup</label>
        <div class="skill-my-lvl is-5">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">A/B Testing</label>
        <div class="skill-my-lvl is-5">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">Jira Agile</label>
        <div class="skill-my-lvl is-7">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">Open Poject</label>
        <div class="skill-my-lvl is-4">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">Git / Github</label>
        <div class="skill-my-lvl is-8">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="content-box">
    <h3>Relationnel</h3>

    <div class="skills-box">
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">Leadership</label>
        <div class="skill-my-lvl is-9">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">Teamwork</label>
        <div class="skill-my-lvl is-8">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">Creativity</label>
        <div class="skill-my-lvl is-7">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">Communication</label>
        <div class="skill-my-lvl is-9">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="content-box">
    <h3>Langues</h3>

    <div class="skills-box">
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">French</label>
        <div class="skill-my-lvl is-9">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
      <div class="skill-lvl-box">
        <label class="skill-lvl-label">English</label>
        <div class="skill-my-lvl is-6">
          <span class="skill-lvl at-lvl-1"></span><span class="skill-lvl at-lvl-2"></span><span class="skill-lvl at-lvl-3"></span><span class="skill-lvl at-lvl-4"></span><span class="skill-lvl at-lvl-5"></span><span class="skill-lvl at-lvl-6"></span><span class="skill-lvl at-lvl-7"></span><span class="skill-lvl at-lvl-8"></span><span class="skill-lvl at-lvl-9"></span><span class="skill-lvl at-lvl-10"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="navigate-trought-sections">
  <a href="#/en/experiences" class="prev-section">
    <span class="icon-arrow-left"></span>
    <h2>Experiences</h2>
  </a>
  <a href="#/en/studies" class="next-section">
    <h2>Studies</h2>
    <span class="icon-arrow-right"></span>
  </a>
</div>